body {
    background: #0d1117;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.container {
    padding: 20px;
}

.title {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 25px;
    color: #00c3ff;
}

.box {
    background: #161b22;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 25px;
    box-shadow: 0 0 10px #00000060;
}

.label {
    font-size: 15px;
    opacity: 0.7;
}

.btn-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.btn {
    background: #238636;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background: #2ea043;
}

.withdraw {
    background: #F22525;
}

.withdraw:hover {
    background: #ff5050;
}