body {
    background: #111;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
}

.container {
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.sub {
    font-size: 14px;
    opacity: 0.7;
    margin-bottom: 20px;
}

.card {
    background: #1a1a1a;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.amount {
    font-size: 35px;
    margin-top: 10px;
    color: #00ff99;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btn {
    background: #00aaff;
    padding: 15px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.btn:active {
    background: #0088cc;
}
